[Unit]
Description=Docent VPN Flask backend
After=network.target postgresql.service

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/docent-vpn
Environment=
ExecStart=/home/admin/docent-vpn/auto_clear_log.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
