{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Личный кабинет </h1>
<hr>
<h2>Доступные ключи</h2>
<h2>Доступные ключи</h2>
{% if keys %}
<table>
    <tr>
        <th>Ключ</th>
        <th>Действие</th>
    </tr>
    {% for key in keys %}
    <tr>
        <td>{{ key.get_keyname() }}</td>
        <td>
            <form action="{{ url_for('delete_key') }}" method="POST">
                <input type="hidden" name="key_id" value="{{ key.id }}">
                <button type="submit" onclick="return confirm('Удалить ключ?')">Отозвать</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>У вас пока нет ключей.</p>
{% endif %}<br>

<h2>Запросить ключи</h2>
<form action="{{ url_for('request_key') }}" method="POST">
    <p>
        <label for="key_amount">Количество ключей: </label>
        <input type="number" id="key_amount" name="key_amount" required>
    </p>

    <p>
        <label for="description">Краткое описание запроса: </label>
        <input type="text" id="descriprion" name="description" required>
    </p>

    <p>
        <button type="submit">Запросить</button>
    </p>
</form>
<h2>Обратная связь от администратора</h2>
<p>
    Заглушка
</p>
{% endblock %}
